<% include templates/nav %>

<div class="row">
  <div class="col m8 push-m2 pull-m2 card-style z-depth-2 ">
    <div class="col s12"> <h3 class="title center c-title z-depth-1"> About Me </h3> </div>
    <div class="col m6">
      <img class="flexible-image" src="images/me.jpg">
     </div>
     <div class="col m6 my-info">
      <p>  Name: Felix Ramirez Jr </p>
       <p> Education: BS in Computer Science from San Francisco State University </p>
       <p> Work: Currently Maintaining GVS LLC and Freelancing Software Engineer for 3 Years. Currently seeking new opportunites. </p>
       <p> Resume: <a href="https://drive.google.com/open?id=0BzzHxvNJFMw4S1pJcE1CaUVQeVk"> Download Here </a> </p>
       <p>
         Short Biography: I was born in San Jose CA, United States.
         Some of my life passions are listening to music, playing music(guitar, piano and ukulele), motorcross, robotics, traveling, street bike cruising and
         creating software and electronics. I have been playing guitar since I was 13 years old and began programming at 17 years old. I began learning software when
         I took a robotics class in my junior year in highschool. Since then, I have been teaching myself new languages, frameworks and concepts. I wanted to furthure
         my understanding of computer science so I got my bachelors in Computer Science in 2015. My first programming language was C and it truly opened up my curiosity to
         pursue a career in CS. I also taught a Software Engineering Java class(undergraduates) for two years at San Francisco State University.
       </p>
       <p>
         Programming Languages: C, C++, Java, Ruby, Python, Javascript, Perl, PHP, C# and Scala.
       </p>
       <p>
         Web Frameworks: Ruby on Rails, Node.js, Cake PHP, Django and Play(Scala)
       </p>
       <p>
         Database Experience: Postgres, MongoDB(Mongoose), Firebase, many variants of MySql and BigTable.
       </p>
       <p>
         Server Experience: Heroku Cloud, Google Cloud, Amazon E3 GoDaddy and custom servers.
       </p>
       <p>
         Miscellanious Skills: AJAX, ,REST API, Websockets(Action Cable, Socket.io), Realtime database(Firebase), Arduino, Rasberry PI, PJAX, Turbolinks, React Native, API
         integrations, Python GUI, Java Swing and Video Game Development(Unity, Games from Scratch)
       </p>
       <p>
         <a href="https://github.com/FelixRamirezJr"> Github </a>
       </p>

     </div>
  </div>
</div>
