<script>
  var key = "<%= key %>";
  $(".card-content").html("<p class='center'> Your message has been sent! Please write your key for later updates </p> <br> <h3 class='center'>" + key + "</h3>" );
</script>
