<% include templates/nav %>
<head>
  <link rel="stylesheet" href="/stylesheets/index_page.css.scss">
</head>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-with-border" id="my_name">Felix Ramirez</h1>
        <div class="row center">
          <h5 class="header col s12 light white-with-border">Computer Scientist, Web Developer, Full Stack Developer, Mobile and a Passion to Create</h5>
        </div>
        <div class="row center">
          <a href="/contact" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">
            Email Me
          </a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/binary.jpg" alt="Code..."></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large-icon">flash_on</i></h2>
            <h5 class="center">Education and Experience</h5>
            <p class="light"> Bachelors of Science in Computer Science and a Self Taught Programmer. 6+ years of developing software for clients, businesses and startups. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large-icon">group</i></h2>
            <h5 class="center">Full Stack Developer</h5>

            <p class="light"> Skilled in Node.js, Ruby on Rails, Scala, PHP, Relational Databases, Non Relational, C, C++, Java, Python, Android and many
                <a href="/about"> more </a>.
              </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large-icon">settings</i></h2>
            <h5 class="center"> Freelancing SWE </h5>
            <p class="light">Need a Website/Mobile/Desktop application or even a game? <a href="/contact"> Contact </a> me via email for a price and time of completion</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <% include templates/footer %>
