<% include templates/nav %>

<div class="row">
  <div class="col m6 push-m3 pull-m3 ">
    <div class="card blue-grey darken-1">
      <form method="get" action="/code">
        <div class="card-content white-text">
          <div class="full center" style="width: 100%;">
            <span class="card-title">Status Update</span>
            <p class="center" style="color:red"> <%= errors %> </p>
            <p class="center"> If you have tried contacting me, please provide your code for a status update. Thank you. </p>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">code</i>
              <input name="info" id="info" type="text" class="validate" required="required">
              <label for="info"> Code </label>
            </div>
          </div>
          <!-- End Of Form -->
        </div>
        <div class="card-action center">
          <input class="btn" type="submit" value="Submit" id="submit">
        </div>
      </form>
    </div>
  </div>
</div>
