<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/stylesheets/materialize.css">
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="node_modules/socket.io/lib/socket.io.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/custom_nav.css.scss">
  <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
</head>

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo" id="my-logo"> <img src="/stylesheets/icons/logo.svg" alt="LOGO"> </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/about">About Me </a></li>
      <li><a href="/me">Contact</a></li>
      <li><a href="/status_update">Status Update</a></li>
      <li><a href="/chat"> Chat Lobby </a></li>
      <!--
      <li>
        <a class='dropdown-button' href='#' data-activates='dropdown1'>Projects</a>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider"></li>
          <li><a href="#!">three</a></li>
        </ul>
      </li>
    -->
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/about"><i class="fa fa-user"></i> &nbsp; About Me</a></li>
      <li><a href="/me"> <i class="fa fa-code"></i> &nbsp; Projects</a></li>
      <li><a href="/contact"> <i class="fa fa-envelope-square" aria-hidden="true"></i> &nbsp; Contact</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>

<script src="javascripts/init.js"></script>
