.flexible-image{
    max-width: 100%;
}
.my-info{
  p{
    border-bottom:1px solid #26a69a;
  }
}
.card-style{
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  .title{
    background-color: #0d47a1;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
  }
}
.c-title{
  background-color: #0d47a1;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-radius: 5px;
  color: white;
}
