/* #303030 */
/* #424242 */
nav{
  background-color: #212121;
}
#my-logo{
  font-family: 'Monoton', cursive !important;
}

.white-with-border{
  color: white !important;
  text-shadow: 1px 1px #3e3e3e;
}
